html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #595f64;
    cursor: url("../images/cursor-neon.png"), pointer;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    cursor: pointer;
}

#ga-counter {
    position: absolute;
    top: 10px;
    /* left: 25px; */
    left: 1300px;
    z-index: 1;
    color: antiquewhite;
    font-size: 0.8em;
    font-weight: 600;
}

#ga-counter .ga-counter-el {
    display: block;
    position: relative;
    float: left;
    margin-right: 2em;
    letter-spacing: 0.3em;
}

.controls {
    float: left;
    margin-top: 10px;
    margin-left: 150px;
}

.controls button {
    background-color: #282a2c;
    color: #9da7af;
}

.controls button i {
    font-size: 1em;
    padding: 10px;
}

.button {
    display: block;
    position: relative;
    float: right;
    margin: 10px;
    padding: 10px;
    min-width: 150px;
    border: none;
    border-radius: 3px;
    /* background: #f6b93b; */
    background: #39e2ee;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    /* box-shadow: 0px 5px 40px -10px rgba(230, 240, 143, 0.57); */
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    /* -webkit-box-shadow: 0px 5px 40px -10px rgba(230, 240, 143, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(230, 240, 143, 0.57); */

    transition: all 0.3s ease-in-out 0s;
}

.button:hover:not([disabled]) {
    /* box-shadow: 0px 5px 40px -10px rgba(230, 240, 143, 0.57); */
    transition: all 0.3s ease-in-out 0s;
    letter-spacing: 5px;
}

.button[disabled] {
    background: #95b7b9;
    cursor: default;
}

canvas {
    border: 1px solid gray;
    background-color: #282a2c;
}

.wrapper-left {
    width: 1600px;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}

.loader.hidden {
    display: none;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}